<script type="text/javascript">
  if (localStorage.token === 'undefined') {
    console.log('cliam : token not defined')
    window.location.replace("/login")
  }
</script>
  <script src="/plugins/matchHeight/jquery.matchHeight.js"></script>
  <style>
    h2.mainheader{margin-bottom: 10px;}
      .demo-card-wide{margin-right: 14px;}
      ul li em{font-size: 0.8em; font-style: normal;}
      ul li.postbody{color: #333;}
      .addpost {display: inline-block;  float: right; margin-right: 20px; cursor: pointer;}
      .postbox{padding: 10px; }
      #newpost{display: none; padding: 10px 0; margin-bottom: 10px;}
      #remove{display: none;}
      #newpost .outercontent{padding:0;}
  </style>
<main class=" mdl-layout__content mdl-color--white">
  
  <div class="innercontent demo-upd .mdl-card__title mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
    <h2 class="mainheader"><span class="addpost"><i  id="add" class="mdl-color-text--black material-icons" role="presentation" style="font-size: 30px;">add_circle_outline</i><i id="remove" class="mdl-color-text--black material-icons" role="presentation" style="font-size: 30px;">remove_circle_outline</i> </span>All feeds</h2>
    <div id="newpost">

      <div class="outercontent ">
        
        
          <form>
          <div class="postbox mdl-shadow--2dp formgroup mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
            <div class="form-group">
              <label for="posttitle">Title</label>
                <input type="text" class="form-control" name="posttitle" id="posttitle">
            </div>

            <div class="form-group">
              <label for="postbody">Your post</label>
              <textarea class="form-control" name="postbody" id="postbody" rows="5"></textarea>
            </div>
            <button id="submit" class="btn mb-2" type="submit" name="button">Add post</button>
          </div>
          </form>
          
      </div>
    </div><!-- end newpost box -->
    <div class="clearfix">
      {{#each posts}}
        <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--6-col-desktop">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{postTitle}} </h2>
          </div>
          <div class="continfo mdl-card__supporting-text">
            
              <ul class="profilelist">
              <li class="postbody">{{postBody}}</li>
              {{!-- <li>like : {{postLike}}</li> --}}
              <li class="postfooter"><em>Posted by {{postAuthor}} the {{postCreationDate}}</em></li>
              </ul>
            
          </div>
          
        </div>
      {{/each}}

    </div>
    <!-- end new boxes -->

  </div>
  </main>

    <script>
      $(function() {
        var bool = false;
        $('.mdl-card__title-text').matchHeight();
        $('.postbody').matchHeight();
        $('.addpost').on('click', function(){
          if(!bool){
            $('#add').hide();
            $('#remove').show();
            $('#newpost').slideDown(500);
            bool = true;
          } else {
            $('#remove').hide();
            $('#add').show();
            $('#newpost').slideUp(500);
            bool = false;
          }
        });

        $('#submit').click(function(event){
        event.preventDefault();
        $.ajax({
          url: '/api/createpost/',
          method: 'POST',
          dataType: 'json',
          headers: {
            token: '{{token}}'
          },
          data: {
            // messageSender: "{{userUid}}",
            postAuthor: "{{identity.firstName}} {{identity.lastName}}",
            postTitle: $('#posttitle').val(),
            postBody: $('#postbody').val(),
            postLike: 0
            }
          })
        .fail(function () {
          console.log('error')
        })
        .done(function(res) {
          console.log('done');
          window.location.replace("/feed/?token={{token}}")
        });
      })
      });
    </script>
