<script type="text/javascript">
  if (localStorage.token === 'undefined') {
    console.log('cliam : token not defined')
    window.location.replace("/login")
  }
</script>
  <script src="/plugins/matchHeight/jquery.matchHeight.js"></script>
  <style>
      .demo-card-wide{margin-right: 14px;}
  </style>
<main class=" mdl-layout__content mdl-color--white">
  
  <div class="innercontent demo-upd .mdl-card__title mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
    <h2 class="mainheader">Members: {{users.users.length}}</h2>
    <div class="clearfix">
      {{#each users.users}}
        <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--6-col-desktop">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{firstName}} {{lastName}} </h2>
          </div>
          <div class="continfo mdl-card__supporting-text">
            <div class="sinistre-info">
              <ul class="profilelist">
                <li>Profile : {{profile}}</li>
              <li>Email : {{email}}</li>
              <li>Telephone : {{mobile}}</li>
              <li>Signup date : {{signupDate}}</li>
              <li>Friends : {{friends.length}}</li>
              </ul>
                <ul>
                  {{#each friends}}
                  <li>{{this}}</li>
                  {{/each}}
                </ul>
            </div>
          </div>
        </div>
      {{/each}}

    </div>
    <!-- end new boxes -->

  </div>
  </main>
    <script>
      // <script src = "/plugins/matchHeight/jquery.matchHeight.js" >
    </script>
    <script>
      $(function() {
        $('.continfo').matchHeight();
        $('.documentsstate').matchHeight();
      });
    </script>

  
