
<script type="text/javascript">

 if(localStorage.token === 'undefined') {
 console.log('product : token not defined')
   window.location.replace("/login")
}
</script>
    <main class="mdl-layout__content">
      <div class="demo-upd mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
        <div class="innercontent">
          <h2 class="mainheader"> Messages</h2>
          <div class="table-responsive mdl-shadow--2dp">

                  <!-- Nav tabs -->
                  <p class="buttonadd">
                    <a href="/newmsg/?token={{token}}">
                      <button class="mdl-button mdl-js-button">
                        <i class="material-icons ">note_add</i> Create new message
                      </button>
                      </a>
                  </p>
                  <ul class="nav nav-pills" role="tablist">

                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="pill" href="#home" role="tab">Last messages</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " data-toggle="pill" href="#send" role="tab">Sent</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="pill" href="#messages" role="tab">Archived</a>
                    </li>
                  </ul>


                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div class="tab-pane active" id="home" role="tabpanel">

                      <table class="mdl-data-table msgtable ">
                        <thead>
                          <tr>
                            <th class="firstcol">From</th>
                            <th>Body</th>
                            <th>Received</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          {{#forEach mails.[0]}}
                          <tr>
                            <td>{{messageFrom}}</td>
                            <td>{{messageBody}}</td>
                            <td>{{messageCreationDate}}</td>
                            <td><button type="button" value="{{messageid}}" class="btn btn-success valider">Archiver</button></td>
                          </tr>
                          {{/forEach}}
                          
                        </tbody>
                      </table>

                    </div>

                    <div class="tab-pane" id="send" role="tabpanel">

                      <table class="mdl-data-table msgtable ">
                        <thead>
                          <tr>
                            <th class="firstcol">To</th>
                            <th>Body</th>
                            <th>Date</th>
                          </tr>
                        </thead>
                        <tbody>
                          {{#forEach mails.[1]}}
                          <tr>
                            <td>{{messageTo}}</td>
                            <td>{{messageBody}}</td>
                            <td>{{messageCreationDate}}</td>
                          </tr>
                          {{/forEach}}

                        </tbody>
                      </table>

                    </div>


                    <div class="tab-pane" id="messages" role="tabpanel">
                      <table class="mdl-data-table msgtable ">
                        <thead>
                          <tr>
                            <th class="firstcol">From</th>
                            <th>Body</th>
                            <th>Date</th>
                          </tr>
                        </thead>
                        <tbody>
                          {{#forEach mails.[2]}}
                          <tr>
                            <td>{{messageFrom}}</td>
                            <td>{{messageBody}}</td>
                            <td>{{messageCreationDate}}</td>
                          </tr>
                          {{/forEach}}


                        </tbody>
                      </table>

                    </div>

                  </div>
          </div>
        </div>
      </div>
    <main>




<script>
function myFunctionX() {
    var x = document.getElementById('mensajes');
    validurl = "/pvform/?token={{token}}";
    window.location.replace(validurl);
}
    function hoverColor(){
     document.getElementById("mensajes").style.cursor = "pointer";

}

$(function(){
  $('.valider').click(function(){
    let url = '/api/mail/' + $(this).val()
    $.ajax({
      url: url,
      method: 'PUT',
      dataType: 'json',
      headers: {
        token: '{{token}}'
      },
      data: {
        messageStatus: 'valide'
      }
    })
    .done(function(res){
      window.location.replace("/mailbox/?token={{token}}")
    })
  })
})

</script>

  </body>
</html>
